
body{
		margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	line-height: 22px;
	background: #0288D1;
	color:#fff;
}
div[class^="col"] {
	background: #eee;
	padding:5px;
	border:solid 1px #ccc;
	color:#444;
	div[class^="col"] {
		background: #ddd;
	}
		
	
}

h1{
	font-family: 'Oleo Script', cursive;
	font-weight: 400;
	color:#fff;
	font-size: 3em;
}
h2{
	font-size: 16px;
}

p{
	margin:7px 0;
}

.flex-container{
	max-width: 980px;
}

.fluid{
	max-width: 100%;
}

.slide{
	height: 110vh;
	background: url('http://md.wearedevelopers.in/images/slide-1.jpg');
}

.class{
	background: #ddd;
	border-radius:5px;
	color:#333;
	padding:2px 8px;
}