@import 'framework/framework';


body{
	background: $main-bg;
	color:$main-text;
}

.section-one{
	color:#fff;
	height: 100vh;
	background: $main;
	text-align: center;
	h1{
		font-size: 10rem;
		font-weight: 300;
		margin: 0;
		line-height: 13.1rem;
	}

	.description{
		text-align: center;
	}
}

.section-two{
	p{
		font-size: 1.6rem;
	    line-height: 2rem;
	    font-weight: 400;
	}
	.feature{
		margin-top:2.5rem;
		padding:0 2.5rem;
		img{
			max-width: 170px;
		}
	}

	@media #{$screen-md}{
		.feature{
			padding:0 2.5rem;
			img{
				max-width: 100%;
			}
		}
	}

	text-align: center;
	padding-top:2.0rem;
	padding-bottom: 3.0rem;
}

.section-three{
	text-align: center;
	padding-top: 2.0rem;
	background: #fff;
	.grid-demo{
		text-align: left;
	}
}

.section-four{
	padding: 2.0rem 0;
	.title{
		text-align: center;
	}
	background: #fff;
}

.section-five{
	padding: .5rem 0;
	.title{
		text-align: center;
	}
}





.code-example-title{
    text-align: right;
    margin: 0;
    background: #F7F7F7;
    padding: 1.0rem;
    color: #767676;
    background-color: #f7f7f7;
    border: .1rem solid #CCCCCC;
    font: 1.2rem Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 800;
    border-radius: .2rem .2rem 0 0 ;
    border-bottom-color: rgba(0,0,0,0);
}

h1,h2,h3,h4,h5,h6{
	span{
		font-weight: 400;
		font-size: 1.4rem;
		text-align: left;
		margin-right: 3.0rem;
		color:#aaa;
		display: block;
	}
}

.flex-container{
	div[class^=".col-"]:first-child{
		padding-left:0;
	}


	div[class^=".col-"]:first-child{
		last-left:0;
	}
}

.padding{
	padding:1.5rem;
}

object{
	display: none;
}

div[class^="col-"]{
	.module{
	  margin: 1.0rem;
	  padding:1.5rem;
	  border-radius: .5rem;
	  background: #eee;
	}
}