@import 'grid';


body{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	line-height: 22px;
	background: $main-bg;
	color:$main-text;

}
.flex-container{
	max-width: 1200px;
	&.fluid{
		max-width: 100% !important;
	}
}

.section-one{
		color:#fff;
	height: 100vh;
	background: $main;
	text-align: center;
	h1{
		font-size: 128px;
		font-weight: 300;
		margin: 0;
		line-height: 131px;
	}

	.description{
		text-align: center;
	}
}
	.title{
		margin-bottom: 30px;
		h1{
			font-size: 60px;
			font-weight: 400;
			line-height: 63px;
		}
		h2{
			font-size: 40px;
			font-weight: 300;
			line-height: 43px; 
		}
	}

.section-two{
	p{
		font-size: 21px;
	    line-height: 28px;
	    font-weight: 400;
	}
	.feature{
		padding:0 25px;
	}

	text-align: center;
	padding-top:20px;
	padding-bottom: 30px;
}

.section-three{
	text-align: center;
	padding-top: 20px;
	background: #f9f9f9;
	.grid-demo{
		text-align: left;
	}
}

.module {
  margin: 10px;
  padding:15px;
  border-radius: 5px;
  background: #eee;
}

.code-example-title{
    text-align: right;
    margin: 0;
    background: #F7F7F7;
    padding: 10px;
    color: #767676;
    background-color: #f7f7f7;
    border: 1px solid #CCCCCC;
    font: 12px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 800;
    border-radius: 2px 2px 0 0 ;
    border-bottom-color: rgba(0,0,0,0);
    }


.padding{
	padding:15px;
}


@media only screen and (max-width: 599px){
	.section-one{
		img{
			max-width: 80px;
		}
		h1{
			font-size: 90px;
			font-weight: 300;
			margin: 0;
			line-height: 131px;
		}
	}

	.section-two{

		.feature{
			padding-bottom: 80px;
		}
		
	h1{
			font-size: 50px;
			font-weight: 400;
			padding-top:20px;
			line-height: 60px; 
		}

		h2{
			font-size: 35px;
			font-weight: 300;
			padding-top: 20px;
			line-height: 43px; 
		}

		.feature{
			img{
				max-width: 200px;
			}
		}
	}
}

object{
	display: none;
}