$total-order:5;
$total-grow:5;
$total-shrink:5;
$gutter: 15px;
$grid-columns:12;
$main:#0765d9;
$main-text:#3b3e42;
$main-bg:#f7f7f7;
$screen-md:"only screen and (min-width: 600px)";
$screen-lg:"only screen and (min-width: 992px)";