$total-order:5;
$total-grow:5;
$total-shrink:5;
$gutter: 10px;
$grid-columns:12;
$main:#11AFAD;
$main-text:#3b3e42;
$secondary-text:#a9b1ba;
$main-bg:#f7f7f7;
$screen-sm:"only screen and (max-width: 599px)";
$screen-md:"only screen and (min-width: 600px)";
$screen-lg:"only screen and (min-width: 992px)";